@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
	url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
	url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
	url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Black.woff') format('woff'),
	url('../fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Honey ScriptCYR';
	src: url('../fonts/19539.otf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Gilroy", sans-serif;
	font-style: normal;
	font-weight: normal;
	background-color: #fff;
}

.pt-190 {
	padding-top: 190px;
}
.pt-130 {
	padding-top: 130px;
}
.pt-100 {
	padding-top: 100px;
}
.pt-84 {
	padding-top: 84px;
}
.pt-80 {
	padding-top: 80px;
}
.pt-75 {
	padding-top: 75px;
}
.pt-70 {
	padding-top: 70px;
}
.pt-60 {
	padding-top: 60px;
}
.pt-55 {
	padding-top: 55px;
}
.pt-50 {
	padding-top: 50px;
}
.pt-38 {
	padding-top: 38px;
}
.pt-28 {
	padding-top: 28px;
}
.pt-20 {
	padding-top: 20px;
}


.pr-16 {
	padding-right: 16px;
}


.pb-210 {
	padding-bottom: 210px;
}
.pb-190 {
	padding-bottom: 190px;
}
.pb-155 {
	padding-bottom: 125px;
}
.pb-150 {
	padding-bottom: 150px;
}
.pb-140 {
	padding-bottom: 140px;
}
.pb-135 {
	padding-bottom: 135px;
}
.pb-130 {
	padding-bottom: 130px;
}
.pb-120 {
	padding-bottom: 120px;
}
.pb-100 {
	padding-bottom: 100px;
}
.pb-90 {
	padding-bottom: 90px;
}
.pb-84 {
	padding-bottom: 84px;
}
.pb-77 {
	padding-bottom: 77px;
}
.pb-60 {
	padding-bottom: 60px;
}
.pb-55 {
	padding-bottom: 55px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-30 {
	padding-bottom: 30px;
}

.mr-35 {
	margin-right: 35px;
}
.mr-23 {
	margin-right: 23px;
}
.mr-14 {
	margin-right: 14px;
}
.mb-70 {
	margin-bottom: 70px;
}
.mb-60 {
	margin-bottom: 60px;
}
.mb-58 {
	margin-bottom: 58px;
}
.mb-55 {
	margin-bottom: 55px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-45 {
	margin-bottom: 45px;
}
.mb-38 {
	margin-bottom: 38px;
}
.mb-34 {
	margin-bottom: 34px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-25 {
	margin-bottom: 25px;
}
.mb-22 {
	margin-bottom: 22px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-16 {
	margin-bottom: 16px;
}
.mb-14 {
	margin-bottom: 14px;
}
.mb-10 {
	margin-bottom: 10px;
}


.font-18 {
	font-size: 18px;
	line-height: 21px;
}
.font-14 {
	font-size: 14px;
	line-height: 120%;
}

.price2{
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.navbar-brand img{
	max-width: 241px;
	width: 100%;
}
@media (min-width: 992px) and (max-width: 1400px) {
	.navbar-brand img{
		max-width: 170px;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.navbar-brand img{
		max-width: 130px;
	}
}
@media (min-width: 992px) and (max-width: 1100px) {
	.navbar-brand img{
		max-width: 100px;
	}
}
.logo__title img{
	max-width:100px;
}
.header_wrap .navbar {

}
@media (max-width: 991px) {

	.header_wrap {
		padding: 10px 0px;
	}
}

.header_wrap:not([class*="bg_"]):not([class*="bg-"]).transparent_header {
	background-color: #D39694;
}

.header_wrap:not([class*="bg_"]):not([class*="bg-"]).transparent_header.nav-fixed {
	background-color: #D39694;
}
 .navbar .attr-nav li.cart_wrap .nav-link{
	padding: 0px;
}
.cart_wrap i {
	position: relative;
	font-size: 22px;
	color: #fff;
}

.cart_count {
	background-color: #F32D58;
	padding: 0px;

	display: flex;
	justify-content: center;
	align-items: center;

	top: -8px;
	right: -8px;
}
@media only screen and (max-width: 991px) {
	.cart_count {
		top: 12px;
		right: 0px;
	}
}
.navbar .navbar-nav > li {
	margin-right: 30px;
}
@media (max-width: 1400px) {
	.navbar .navbar-nav > li {
		margin-right: 10px;
	}
}
.navbar .navbar-nav > li:last-child {
	margin-right: 0px;
}
.navbar .navbar-nav > li > .nav-link {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	padding: 0px;
}

.navbar .navbar-nav > li.active > .nav-link {
	color: #F32D58;
}
@media (min-width: 992px) and (max-width: 1200px) {
	.navbar .navbar-nav > li > .nav-link {
		font-size: 14px;
	}
}
@media (min-width: 992px) {
	.navbar .navbar-nav > li > .nav-link {
		color: #FFFFFF;
	}
}

.navbar .navbar-nav > li > .nav-link:hover {
	color: #F32D58;
}
@media only screen and (max-width: 991px) {
	#navbarSupportedContent .navbar-nav {
		padding: 10px;
	}
}
@media (max-width: 370px) {
	.header_wrap .phone-block-wrapper {
		display: none;
	}
}


.footer {
background-color: #D39694 !important;

}
.footer .phone-block .btn{
	border: 0px;
	border-bottom: 1px solid #fff;
	border-radius: 0px;
}
.footer .phone-block .btn:hover {
	background: none;
}
.top_footer {
	padding: 38px 0px 45px 0px;
}
.bottom_footer {
	padding: 11px 0px;
}

.copyright {
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #F7F7F7 !important;
}

.phone-block__item {
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
transition: 0.3s;
color: #FFFFFF;
}

.phone-block__item:hover {
	color: #F32D58;
	transition: 0.3s;
}

.phone-block .btn {
	margin-top: 4px;
	padding: 2px 4px;
	border: 1px solid #fff;
	border-radius: 10px;
	background: none;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;

	text-decoration-line: none;
	text-transform: none;

	color: #FFFFFF;
}

.phone-block .btn:hover {
	color: #F32D58;
	background: #fff;
	border-color: #F32D58;
	transition: 0.3s;
}


.social {
}

.social__item svg path {
fill: #fff;
transition: 0.3s;
}

.social__item:hover svg path {
fill: #F32D58;
transition: 0.3s;
}


.banner_slider .btn {
	border: 3px solid #D39694;
	border-radius: 5px !important;

	padding: 14px 40px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	width: unset;
}

.banner_slider .btn:hover {
color: #fff;
background-color: #D39694;
}

.banner_slider_left {
margin-left: -10.3333%;
}


.h1, .banner_content h2 {
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
color: #000000;

margin-bottom: 50px;
}

.banner_slider p {
font-family: Gilroy;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
text-align: left;
color: #000000;
margin-bottom: 50px;
}


.block-title, h2 {
font-family: Gilroy;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 45px;
color: #353535;
}

@media (max-width: 991px) {
	.block-title, h2 {
		font-size: 28px;
		line-height: 34px;
	}
	.navbar-brand img{
		max-width:100px;
	}
}

.block-subtitle {
font-family: Gilroy;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
color: #D39694;
}

.block-line {
display: block;
width: 108px;
height: 2px;
background-color: #D39694;
}

p {
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #474747;
}


.step-list {
background-color: #fff;
}

.step-list__item {
background: #FFFFFF;
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);

min-height: 230px;
height: 100%;

position: relative;
padding: 20px;
}
.step-list__item p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	text-align: left;
}
.step-list__item span {
font-family: Gilroy;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 76px;
color: #D39694;
}

.step-list__item h2 {
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #000000;
}

.icon_box_style1::after {
border-right: 2px solid #D39694;
border-bottom: 2px solid #D39694;
}

.icon_box_style1::before {
border-top: 2px solid #D39694;
border-left: 2px solid #D39694;
}


.skrebok {
	background-color: #F7F7F7;
	background-image: url("../images/skrebokbg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.skrebok__item {
	height: 100%;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 2;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1)
}

.skrebok_img {
	width: 100%;
	max-width: 100%;
}

.skrebok__item .btn, .btn-basket {
	width: 149px;
	height: 50px;
	text-align: center;
	padding: 14px 0px;
	background: #D39694;
	border-radius: 3px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	transition: 0.2s;
}
.btn-catalog {
	border: 3px solid #D39694;
	border-radius: 5px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #D39694;
	transition: 0.2s;
}
.btn-catalog.btn-catalog-active {
	color: #fff;
	background: #D39694;
}
.skrebok__item .btn:hover, .btn-basket:hover {
	transform: scale(1.05);
	transition: 0.2s;
	color: #353535;
}
.skrebok__item-content {
	padding: 10px 23px 23px 23px;
}
.skrebok__item h3 {
	display: block;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #000000;
	margin-bottom: 14px;
}
.skrebok__item .submit-title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	margin-bottom: 13px;
}
.skrebok__item .submit-title:hover {
	color: #F32B56;
}

.skrebok__item p {
	margin: 0px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.skrebok__item .block-line {
	width: 26px;
	margin: 0 auto;
}



.skrebok {
	position: relative;
}

.skrebok__img-2 {
	position: absolute;
	z-index: 1;
}


.skrebok__img-2 {
	top: 40%;
	left: 22px;
}


.skrebok-play {
	height: 100%;
	z-index: 2;
}
.skrebok-play .video_play {
	top: unset;
	left: unset;
	bottom: 50%;
	right: 0px;
	transform: translateY(50%);
}
.skrebok-play .ripple {
	color: #fff;
	background: rgba(243, 45, 88, 0.5);
	width: 180px;
	height: 180px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 43px;
}

.ripple::before, .ripple::after {
	background: rgba(243, 45, 88, 0.36);
}

.skrebok_content {
	border: 2px solid #D39694;
	padding: 21px 37px 50px 37px;
}
.skrebok_content h2 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.skrebok_content p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}




@media (max-width: 1200px) {
	.skrebok-play {
		margin: 0px;
	}

	.video_play {
		/* position: unset; */
		/* transform: unset; */
		/* margin-bottom: 30px; */
	}

	.skrebok__img-2 {
		display: none;
	}
}


.roller {
	overflow: hidden;
}
.btn-long-full {
	background: #D39694;
	border: 2px solid #D39694;
	border-radius: 50px;
	padding: 15px 100px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.btn-video {
	border: 2px solid #D39694;
	border-radius: 50px;
	padding: 15px 27px 15px 15px;
	background: none;

	display: flex;
	align-items: center;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #000;

	max-width: 425px;
}
@media (max-width: 991px) {
	.btn-video {
		padding: 10px 4px;
		font-size: 13px;
	}
}

.arrow {
	width: 46px;
	height: 46px;
	border-radius: 100%;
	border: 1px solid rgba(243, 45, 88, 0.1);

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	transition: 0.3s;

	position: absolute;
	z-index: 2;
}

.arrow div {
	width: 36px;
	height: 36px;
	background: #D39694;
	border-radius: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: 0.1s;
}

.arrow div svg {
	width: 10px;
	fill: #fff;
}

.arrow div svg g {
	opacity: 1;
}

.arrow_left svg {
	transform: scale(-1, 1);
}

.arrow:hover {
	border: 1px solid transparent;
	transition: 0.3s;
}

.arrow:hover div {
	width: 46px;
	height: 46px;
	transition: 0.1s;
}

.arrow_left {
	left: unset;
	right: 48px;
	bottom: 0px;
}

.arrow_right {
	left: unset;
	right: 0px;
	bottom: 0px;
	/* bottom: 0px;
	left: calc(30% + 54px); */
}


.roller-slider {
	padding-bottom: 40px;
}

.roller-slider:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 60px;
	right: 70%;
	width: 1000px;
	height: 1px;
	background: #E5E5E5;
}
.roller-slider_no-line:before { display: none;}
.roller-slider_right .arrow_left {
	left: 0px;
	bottom: 0px;
	/* right: calc(30% + 70px); */
}

.roller-slider_right .arrow_right {
	left: 48px;
	bottom: 0px;
	/* right: 31%; */
}
.roller-slider h2 a {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #353535;
}
.roller-slider h2 a:hover  {
	color: #F32D58;
}
.roller-slider p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
@media (max-width: 991px) {
	.roller-slider .arrow_left {
		bottom: unset;
		left: unset;
		top: calc(100% - 46px);
		right: 75px;
	}

	.roller-slider .arrow_right {
		bottom: unset;
		left: unset;
		top: calc(100% - 46px);
		right: 15px;
	}

	.roller-slider:before {
		display: none;
	}

	.roller-slider__img {
		/* height: 312px; */
		width: unset;
	}

	.roller-slider_right .arrow_left {
		top: calc(100% - 46px);
		left: unset;
		bottom: unset;
		right: 75px;
	}

	.roller-slider_right .arrow_right {
		left: unset;
		bottom: unset;
		top: calc(100% - 46px);
		right: 15px;
	}
}

.roller-slider_right.roller-slider:before {
	bottom: 60px;
	left: 70%;
}


.result {
	background-color: #F7F7F7;
	background-image: url("../images/skrebokbg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.result-slider__top {
	display: block;
	height: 40px;
	padding-bottom: 14px;
	margin: 0px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}


.result-slider__date {
	display: block;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;

	height: 40px;
	padding-top: 14px;

	color: #000000;
}

.result-slider__bottom {
	display: block;
	height: 40px;
	padding-top: 14px;
	margin: 0px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.result-slider p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;

	color: #000000;
}

.result-slider .arrow_left {
	top: calc(50% - 24px);
	left: -55px;
}

.result-slider .arrow_right {
	top: calc(50% - 24px);
	left: unset;
	right: -55px;
}
.result-slider__item {
	background-color: #fff;
}

.result-slider__item img {
	opacity: 0.7;
}


.result-slider__item-hid {
	position: absolute;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	opacity: 0;
	transition: 0.5s;

	display: flex;
	justify-content: center;
	align-items: center;
}
.result-slider__item:hover .result-slider__item-hid{
	opacity: 1;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	background: rgba(0,0,0,0.5);
	transition: 0.5s;
}
.result-slider__item:hover img {
	opacity: 1;
}
.result-slider__link {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-decoration-line: none;

	color: #D39694;
	padding-bottom: 4px;
	border-bottom: 1px solid #d39694;
}
.result-slider__link:hover {
	border-bottom: 1px solid #F32B56;
}
.result-slider .slick-slide {
	padding: 0 15px;
}

@media (max-width: 991px) {
	.result-slider__bottom {
		font-size: 14px;
		line-height: 16px;
	}
	.result-slider .arrow_left {
		top: calc(50% - 24px);
		left: -10px!important;
	}

	.result-slider .arrow_right {
		top: calc(50% - 24px);
		left: unset!important;
		right: -10px!important;
	}
}

@media (max-width: 1300px) {
	.result-slider__date {
		padding-right: 40px !important;
	}

	/*  .result-slider .arrow_right {
	left: 51%;
}

.result-slider .arrow_left {
left: 40%;
} */
}

.result h3 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;

	color: #000000;

	padding-bottom: 10px;
	margin: 0px;
}


.reviews-slider {

}

.reviews-slider__item {
	display: block;
	position: relative;
	overflow: hidden;
}

.reviews-slider__hid {
	position: absolute;

	left: 40px;
	top: 40px;
	right: 40px;
	bottom: 40px;

	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: 0.3s;

	display: flex;
	justify-content: center;
	align-items: center;
}

.reviews-slider__play {
	width: 55px;
	height: 55px;

	background: url("../images/Ellipse 9.png");
	background-size: 55px;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.reviews-slider__play div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;

	background: url("../images/Ellipse 8.png");
	background-size: 35px;

	transition: 0.3s;
}

.reviews-slider__play div div {
	width: 35px;
	height: 35px;

	background: url("../images/Polygon 2.png") center no-repeat;

	transition: 0.3s;
}

.reviews-slider__item:hover .reviews-slider__hid {
	opacity: 1;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	transition: 0.3s;
}

.reviews-slider__item:hover .reviews-slider__play {
	transform: rotate(360deg);
	/* animation: circle1  2s infinite linear; */
	transition: 2s;
}

.reviews-slider__item:hover .reviews-slider__play > div {
	transform: rotate(-740deg);
	/* animation: circle2  2s infinite linear; */
	transition: 2s;
}

.reviews-slider__item:hover .reviews-slider__play > div > div {
	transform: rotate(360deg);
	/* animation: circle3  2s infinite linear; */
	transition: 2s;
}

@media (max-width: 991px) {
	.reviews-slider__hid {
		opacity: 1;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}
}

@keyframes circle1 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes circle2 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-740deg);
	}
}

@keyframes circle3 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.reviews-slider .arrow_left {
	right: calc(100% + 60px);
	left: unset;
}

.reviews-slider .arrow_right {
	right: 100%;
	left: unset;
}


.stock h3 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #000000;
}

.stock span {
	display: block;
	position: relative;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 85px;

	color: #D39694;
	padding-left: 270px;
}

.stock span:before {
	content: "";
	display: block;

	position: absolute;

	left: 0px;
	top: 80%;
	width: 250px;
	background-color: #E5E5E5;
	height: 1px;
}

@media (max-width: 991px) {
	.stock span {
		padding-left: 0px;
		text-align: right;
		margin-top: -60px;

	}

	.stock span:before {
		display: none;
	}
}

.stock p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	margin: 0px;
	padding-bottom: 20px;

	text-align: left;
}


.circle-block {
	background-color: #F7F7F7;
}

.circle-block__item {
	width: 100%;
	max-width: 350px;

	position: absolute;
	top: 0px;
	left: 90%;
}

.circle-block__item-1 {
	left: 80%;
	top: 10%;
}

.circle-block__item-2 {
	left: 93%;
	top: 30%;
}

.circle-block__item-3 {
	left: 93%;
	top: 59%;
}

.circle-block__item-4 {
	left: unset;
	right: 80%;
	top: 10%;
}
.circle-block__item-5 {
	left: unset;
	right: 93%;
	top: 30%;
}
.circle-block__item-6 {
	left: unset;
	right: 93%;
	top: 59%;
}

@media (max-width: 991px) {
	.circle-block__item {
		position: unset;
		padding-bottom: 35px;
	}
}


.step {
	background: #fff;


}

.step_wrapper {
	border: 9px solid #D39694;
	padding: 11px;
	background: #fff;
}

.step__border {
	border: 2px solid #D39694;
	padding: 38px 0px 110px 0px;
}
.step__border p {
	ont-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #000000;
}
.step__number {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 96px;
	color: #D39694;
}


.faq {
	padding: 20px 0 150px 0px;
}

@media (max-width: 991px) {
	.faq {
		padding: 30px 0 50px 0px;
	}
}

.faq .card {
	border: 2px solid #E5E5E5;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 30px;
}

.accordion .card-header a::after {
	right: unset;
	left: 20px;
	top: 24px;
}

.card-header a {
	border: 0px !important;
	padding: 0px 0px 0px 50px !important;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.accordion  .card:first-of-type,
.accordion  .card:not(:first-of-type):not(:last-of-type),
.accordion  .card:last-child {
	border: 2px solid #E5E5E5;
	border-radius: 20px;
	padding: 20px;
}

.faq .card .card-body {
	border: 0px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;

	color: #000000;
}


.question {
	background-color: #F7F7F7;
}
.question .question-info p {
	color: #353535;
}
.question-info p, .question-info a {
	color: #000000;
}
.question-info a:hover {
	color: #F32D58;
}
.form input[type="text"], .form input[type="tel"] {
	border: 0px;

	width: 100%;
	max-width: 270px;

	background: #FFFFFF;
	border-radius: 30px;
	padding: 14px 25px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #474747;
}

.form textarea {
	border: 0px;

	width: 100%;
	min-height: 250px;

	background: #FFFFFF;
	border-radius: 30px;
	padding: 14px 25px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #474747;
}

.form .btn {
	width: unset;
	padding: 14px 27px;
}


#preloader {
	background-color: #D39694;
}

.product-thumbnail {
	max-width: 100px;
}

@media (max-width: 991px) {
	.product-thumbnail {
		max-width: unset;
	}
}

.product-thumbnail img {
	max-width: 100%;
}

.quantity .minus:hover, .quantity .plus:hover {
	background-color: #D39694;
	color: #fff;
}

.product-remove a:hover {
	color: #D39694;
	text-decoration: none;
}

.welcome-slider__more {
	position: absolute;
	bottom: 40px;
	right: 30px;
	z-index: 2;
	width: 130px;
	height: 30px;
}

.welcome-slider__more .carousel-control-next {
	position: unset;
	transform: unset;
	right: 0px;
	width: 6px;
	height: 11px;
	background: none;
	opacity: 1;
	color: #D39694;
}

.welcome-slider__more .carousel-control-prev {
	position: unset;
	transform: unset;
	left: 0px;
	width: 6px;
	height: 11px;
	background: none;
	opacity: 1;
	color: #D39694;
}

.welcome-slider__more .carousel-indicators {
	position: unset;
	height: 100%;
	margin: 0 4px;
	align-items: center;
}

.welcome-slider__more .carousel-indicators li {
	width: 11px;
	height: 2px;
	background: #ADADAD;
	transform: unset;
	border: unset;
	margin: 0 3px;
}

.welcome-slider__more .carousel-indicators li.active {
	background: #D39694;
}

.carousel-indicators li::before {
	display: none;
}

.welcome-slider__more_now,
.welcome-slider__more_full {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #ADADAD;
}

.welcome-slider__more_now {
	color: #000000;
}

.just-text p {
	text-align: left;
}

.just-text ul, ol {
	margin: revert;
	padding: revert;
}
.skrebok__slider-item {
	position: relative;
}
.skrebok__slider-item-stock {
	position: absolute;
	top: 20px;
	left: 16px;
}
.skrebok__slider-item-stock .sale {
	background: #F32D58;
	padding: 4px 7px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
}
.skrebok__slider .slick-arrow_left {
	left: 6px;
}
.skrebok__slider .slick-arrow_right {
	right: 6px;
}

.skrebok__slider .slick-arrow_left,
.skrebok__slider .slick-arrow_right {
	z-index: 5;
}
.skrebok__slider .slick-arrow {
	position: absolute;
	width: 22px;
	height: 22px;
	top: calc(50% - 11px);

	color: #000;
	font-size: 12px;

	background-color: #fff;
	border-radius: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}
.skrebok__slider .slick-arrow.slick-disabled {
	color: rgba(0,0,0,0.5);
	cursor: default;
}


.delivery p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.delivery ul  {
	padding-left: 60px;
	padding-bottom: 20px;
}
.delivery ul  li {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;

	margin-bottom: 10px;
}
.delivery h2 {
	padding-top: 54px;
}

.delivery__content {
	height: 100%;
	background-color: #D39694;
	padding: 0 54px 54px 54px;
}
.delivery__content h2 {
	color: #fff;
}
.delivery__content p {
	text-align: left;
	color: #fff;
}
@media (max-width: 991px) {
	.delivery h2 {
		padding-top: 0px;
	}
	.delivery__content {
		padding: 20px;
	}
}
@media only screen and (max-width: 575px) {
	.banner_img img {
		max-width: 325px;
		margin-left: 80px;
	}
}
.free-delivery {
	padding: 25px 0px;
	background: #D39694;
}
.free-delivery p {
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	margin: 0px;
	text-align: center;
}
@media (max-width: 991px) {
	.free-delivery p {
		font-size: 14px;
	}
}

.link-more {

	border: 3px solid #D39694;
	border-radius: 5px !important;
	padding: 14px 10px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #D39694;
	width: 149px;
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.link-more.buy {
	width: unset;
}
.link-more:hover {
	color: #fff;
	background: #D39694;
}
.why-block {
	background-image: url("../images/skrebokbg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.why-block__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (max-width: 1400px) {
	.why-block__footer {
		flex-direction: column;
	}
}
.why-block .number {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 900;
	font-size: 288px;
	line-height: 100%;

	color: rgba(211, 150, 148, 0.13);

	position: absolute;
	left: 15px;
	top: -15%;
	z-index: -1;
}
.why-block p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.why-block__title {
	display: block;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #333333;
}
.link-download {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;

	display: flex;
	align-items: center;
}
.link-download span {
	margin-left: 17px;
	border-bottom: 1px solid #000;
	transition: 0.2s;
}
.link-download:hover span {
	color: #F32B56;
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;
	transition: 0.2s;
}









.breadcrumb_section {
	padding-bottom: 100px;
	background-image: url("../images/Rectangle 293.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.header_wrap.fixed-top + .breadcrumb_section {
	margin-top: 100px;
	padding-top: 70px;
	padding-bottom: 70px;
}

@media (max-width: 1400px) {
	.header_wrap.fixed-top + .breadcrumb_section {
		margin-top: 76px;
	}
}
@media (max-width: 1200px) {
	.header_wrap.fixed-top + .breadcrumb_section {
		margin-top: 50px;
	}
}
@media (max-width: 991px) {
	.header_wrap.fixed-top + .breadcrumb_section {
		margin-top: 85px;
	}
}
.breadcrumb_section h1 {
	text-transform: unset;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #353535;
	margin: 0px;
}
@media (max-width: 991px) {
	.breadcrumb_section h1 {
		font-size: 24px;
		line-height: 120%;
	}
}
.free-delivery-text {
	background-color: #F32B56;
	padding: 6px 30px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.product_title {
	white-space: unset;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	max-width: calc(100% - 200px);
}
@media (max-width: 1200px) {
	.product_title {
		max-width: unset;
	}
}
.product_price .price  {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

.pr_detail hr {
	background: #ADADAD;
	margin: 14px 0 20px 0;
}
.pr_detail  p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #474747;
}
.title-color {
	display: block;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	padding-bottom: 11px;
}
.quantity .minus, .quantity .plus {
	background-color: #C4C4C4;
}
.product-tabs .nav-tabs li.nav-item a {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #353535;
	border-bottom: 3px solid transparent;
	padding-bottom: 9px;
}
.product-tabs .nav-tabs .nav-link.active,
.product-tabs .nav-tabs .nav-link.active:hover {
	border-bottom-color: #D39694;
	color: #D39694;
}
.product-tabs p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	text-align: left;
}
.product-tabs .tab-content.shop_info_tab {
	margin-top: 43px;
}
.tab-style1 .nav-tabs {
	border-bottom: 1px solid #DDDDDD;
}












.blog-item {
	background: #FFFFFF;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}
.blog-content {
	padding: 0px 16px 19px 14px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.blog-title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.blog-description {
	text-align: left;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}
.blog-more {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.blog-inner img {
	display: block;
	margin-bottom: 50px;
}
.blog-inner p{
	text-align: left;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	margin-bottom: 25px;
}
.blog-inner ul {
	padding-left: 20px;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.modal .modal-title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
